
<div mat-dialog-content>
    <p>Type the movie Name you wanna save</p>
    <mat-form-field appearance="fill">
      <mat-label>Movie Name</mat-label>
      <input matInput [(ngModel)]="movieName">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close] >No Thanks</button>
    <button mat-button (click)="getInfo(movieName)"  (click)="postname(movieName)" cdkFocusInitial>Save</button>
    <p *ngIf="movie">
      Saving {{movie.slice(0,1)}}
    </p>
    
  </div>