<div mat-dialog-content>
    <p>Please Login</p>
    <mat-form-field appearance="fill">
      <mat-label> Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> password </mat-label>
      <input matInput [(ngModel)]="password">
    </mat-form-field>
    
    
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close] >No Thanks</button>
    <button mat-button [mat-dialog-close] cdkFocusInitial (click)="login()", (click)="saveData(name, password)" [routerLink]="['dashboard']" >Login</button>
  </div>
