<app-header></app-header>
<router-outlet></router-outlet>
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">Free to Use</h2>
                        <p class="mb-0">Free signup</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">The social network for film lovers.</h2>
                        <p class="mb-0">Shared with your freinds your shared movies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Track your watched movies</h2>
                        <p class="mb-0">Always keep track of your favorite movies!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Breathing Room: Standout Narratives at Sundance</h2>
                    <img src="https://a.ltrbxd.com/resized/story/image/4/6/7/2/4/0/6/shard/12343/blob-960-960-0-0-fill.jpg?v=6ff0ec90e5" style="width:420px;height:200px;">
                    <p class="card-text"> </p>
                    <p class="card-text"> </p>

                    <p class="card-text">Films from Raven Jackson, Laurel Parmet, Elijah Bynum, Rachel Lambert, and Ira Sachs entrust their characters with deep, thorny multitudes.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://letterboxd.com/mubius/story/breathing-room-standout-narratives-at-sundance/">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">AFTERSUN | Paul Mescal & Frankie Corio | Behind the Scenes</h2>
                    <img src="https://assets.mubicdn.net/images/artworks/510081/images-original.png?1672945293" style="width:420px;height:200px;">
                    <p class="card-text"> </p>
                    <p class="card-text"> </p>
                    <p class="card-text">Behind the scenes camcorder footage from London Film Festival 2022 with Frankie Corio and Academy Award® nominee Paul Mescal.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://letterboxd.com/mubi/story/aftersun-paul-mescal-frankie-corio-behind/">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Érica Sarmet Introduces Their Film A WILD PATIENCE HAS TAKEN ME HERE</h2>
                    <img src="https://a.ltrbxd.com/resized/story/image/4/6/7/2/3/9/9/shard/12332/blob-960-960-0-0-fill.jpg?v=c75190b196" style="width:420px;height:200px;">
                    <p class="card-text"> </p>
                    <p class="card-text"> </p>
                    <p class="card-text">I wanted the film to archive the intensity of bodies in motion that only a good party can offer.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://letterboxd.com/mubi/story/erica-sarmet-introduces-their-film-a-wild/">More Info</a></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>





