<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="W3Schools.com">

            <div class="m-4 m-lg-5">
                
                <h2 class="display-5 fw-bold">Track films you’ve watched.
                    Save those you want to see.
                    Tell your friends what’s good.</h2>
                
            </div>
        </div>
    </div>
</header>